<div class="flex items-center gap-x-1">
  <img
    src="{{ 'stars.svg' | asset_url }}"
    alt="Product rating"
    class="w-auto h-4"
    width="80"
    height="16"
    loading="lazy"
  >
  <span class="font-poppins text-[11px] lg:text-xs text-[#707070]">1,234 reviews</span>
</div>
