<div class="product-card">
  <div class="aspect-square rounded-[10px] overflow-hidden w-full max-w-[355px] h-full max-h-[355px]">
    {% comment %} {%  render 'product-badges', product: product %} {% endcomment %}
    {% render 'image',
      image: product.featured_image,
      width: 600,
      height: 600,
      class: 'w-full h-full object-cover'
    %}
    {% comment %} {%  render 'image',
      image: product.images[1],
      width: 600,
      height: 600,
      class: 'w-full h-full object-cover'  
    %} {% endcomment %}
  </div>
  <div class="grid gap-y-3 p-3">
    <h3 class="text-xl font-semibold">{{ product.title }}</h3>
    <p>{{  product.price | money }}</p>
  </div>
</div>